<h1>Emisión de Comandas</h1>

<article class="main-article">
  <article class="table-list">
    <ul>
      @for (table of tables_list; track $index) {
      <li [id]="$index" (click)="putSelectedPedidos(table.id)">
        {{ table.id }}
      </li>
      }
    </ul>
  </article>

  <article>
    <span class="form">
      <span style="display: flex; justify-content: space-between">
        <h3>Manejar Información</h3>
        <span style="gap: 10px; display: flex">
          <button (click)="resetForm()">Limpiar Datos</button>
          <button [disabled]="salesForm.disabled" (click)="onSubmit()">
            {{ editing === true ? "Editar" : "Guardar" }}
          </button>
        </span>
      </span>
      <form [formGroup]="salesForm">
        <span>
          <div>
            <label for="">Fecha:</label>
            <input
              id="datePicker"
              type="date"
              name="Fecha"
              formControlName="Fecha"
              placeholder="Fecha"
            />
          </div>
          <div>
            <label for="">Numero de Mesa:</label>
            <input
              characterDetect
              class="olyNum"
              name="Mesa"
              formControlName="Mesa"
              placeholder="Mesa"
            />
          </div>
          <div>
            <label for="">Cantidad de Personas:</label>
            <input
              characterDetect
              class="olyNum"
              name="Personas"
              formControlName="Personas"
              placeholder="Personas"
            />
          </div>
        </span>
        <span>
          <div>
            <label for="">Dependiente:</label>
            <select name="IdDependiente" formControlName="IdDependiente">
              @if (depResults$ | async; as resultObj) { @for (dep of resultObj;
              track $index) {
              <option value="{{ dep.Id }}">{{ dep.Nombre }}</option>
              }}
            </select>
          </div>
        </span>

        <span>
          <div>
            <label for="">Descuento:</label>
            <input
              characterDetect
              class="onlyNum"
              name="Descuento"
              formControlName="Descuento"
              placeholder="Descuento"
            />
          </div>
          <div>
            <label for="">Observaciones:</label>
            <input
              characterDetect
              class="olyNum"
              name="Personas"
              formControlName="Personas"
              placeholder="Personas"
            />
          </div>
        </span>
      </form>
    </span>

    <span class="form">
      <form action="" [formGroup]="salesForm">
        <span>
          <div>
            <label for="">Selecciona el Producto:</label>
            <input
              placeholder="Seleccione el Producto"
              name="Producto"
              formControlName="Producto"
              list="prod-list"
            />
            <datalist id="prod-list">
              @if (prodResults$ | async; as resultObj) { @for (product of
              resultObj; track $index) {
              <option value="{{ product.Id }}">{{ product.Nombre }}</option>
              }}
            </datalist>
          </div>
          <div>
            <label for="">Cantidad del Productos:</label>
            <input
              characterDetect
              class="onlyNum"
              formControlName="prod_cant"
              name="prod_cant"
              placeholder="Cantidad del producto"
            />
          </div>
        </span>
      </form>
    </span>

    <section class="table-widget">
      @if (loadingData === false) {
      <table>
        <caption>
          Todos los Pedidos de la mesa
        </caption>
        <thead>
          <tr>
            <th>Producto</th>
            <th>Cantidad Comprada</th>
          </tr>
        </thead>
        <tbody>
          @for (pedido of pedidos_list; track $index) {
          <tr>
            <td>{{ pedido.product }}</td>
            <td>{{ pedido.cant }}</td>
          </tr>
          }
        </tbody>
      </table>
      }@else if (loadingData === true) {
      <shared-loading-data></shared-loading-data>
      }@else if (loadingData === undefined) {
      <shared-empty-list></shared-empty-list>
      }
    </section>
  </article>
</article>
