.main-article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.table-list {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 30px 15px;
}

.table-list li {
  cursor: pointer;
}

.table-list li:hover {
  background-color: #eee;
}
