<h1>Emisión de Comandas</h1>

<article class="main-article">
  <span class="form">
    <span style="display: flex; justify-content: space-between">
      <h3>Manejar Información</h3>
      <span style="gap: 10px; display: flex">
        <button class="clean-form" (click)="resetForm()">Limpiar Datos</button>
        <button
          class="save-form"
          [disabled]="salesForm.disabled"
          (click)="onSubmit()"
        >
          {{ editing === true ? "Editar" : "Guardar" }}
        </button>
      </span>
    </span>
    <form [formGroup]="salesForm">
      <span>
        <div>
          <label for="">Fecha:</label>
          <input
            id="datePicker"
            type="date"
            name="Fecha"
            formControlName="Fecha"
            placeholder="Fecha"
          />
        </div>
        <div>
          <label for="">Numero de Mesa:</label>
          <input
            characterDetect
            class="olyNum"
            name="Mesa"
            formControlName="Mesa"
            placeholder="Mesa 4"
          />
        </div>
        <div>
          <label for="">Cantidad de Personas:</label>
          <input
            characterDetect
            class="olyNum"
            name="Personas"
            formControlName="Personas"
            placeholder="3 personas"
          />
        </div>
      </span>
      <span>
        <div>
          <label for="">Dependiente:</label>
          <select name="IdDependiente" formControlName="IdDependiente">
            @if (depResults$ | async; as resultObj) { @for (dep of resultObj;
            track $index) {
            <option value="{{ dep.Id }}">{{ dep.Nombre }}</option>
            }}
          </select>
        </div>
        <div>
          <label for="">Descuento:</label>
          <input
            characterDetect
            class="onlyNum"
            name="Descuento"
            formControlName="Descuento"
            placeholder="Descuento aplicado"
          />
        </div>
        <div>
          <label for="">Observaciones:</label>
          <input
            characterDetect
            class="olyNum"
            name="Observaciones"
            formControlName="Observaciones"
            placeholder="Comanda con observaciones"
          />
        </div>
      </span>
    </form>
  </span>

  <section class="table-widget">
    @if (loadingData === false) {
    <table>
      <caption>
        Comandas activas
      </caption>
      <thead>
        <tr>
          <th>Dependiente</th>
          <th>Número de Mesa</th>
          <th>Cantidad de Personas</th>
          <th>Descuento (%)</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (comanda of salesList; track $index) {
        <tr>
          <td>{{ comanda.NombreDependiente }}</td>
          <td>{{ comanda.Mesa }}</td>
          <td>{{ comanda.Personas }}</td>
          <td>{{ comanda.Descuento }}</td>
          <td>
            <div class="actions">
              <button class="btn-act edit" (click)="onRowClick(comanda.Id!)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-eye"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                  <path
                    d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"
                  />
                </svg>
              </button>

              <button class="btn-act close" (click)="putTuEdit(comanda, true)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-square-rounded-check"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M9 12l2 2l4 -4" />
                  <path
                    d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"
                  />
                </svg>
              </button>

              <button class="btn-act delete" (click)="deleteSale(comanda.Id!)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-trash"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M4 7l16 0" />
                  <path d="M10 11l0 6" />
                  <path d="M14 11l0 6" />
                  <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                  <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                </svg>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
    }@else if (loadingData === true) {
    <shared-loading-data></shared-loading-data>
    }@else if (loadingData === undefined) {
    <shared-empty-list></shared-empty-list>
    }
  </section>
</article>
