<h1>Usuarios del Sistema</h1>

<span class="form">
  <span style="display: flex; justify-content: space-between">
    <h3>Manejar Información</h3>
    <button (click)="onSubmit()">Guardar</button>
  </span>
  <form [formGroup]="userForm">
    <span>
      <input formControlName="Nombre" placeholder="Nombre" />
      <input formControlName="ClaveAcceso" placeholder="Clave de Acceso" />
    </span>
    <span>
      <select value="Invitado" (change)="onChangeCat()" id="role-types">
        @for (role of roles_list; track $index) {
        <option value="{{ role[0] }}">
          {{ role[0] }}
        </option>
        }
      </select>
      <input
        formControlName="Correo"
        placeholder="Dirección de Correo Electrónico"
      />
    </span>
  </form>
</span>

<section class="table-widget">
  @if (loading_data === false) {
  <table>
    <caption>
      Todos los Usuarios
    </caption>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Cargo que Desempeña</th>
        <th>Correo Electrónico</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (user of userList; track $index) {
      <tr>
        <td>{{ user.Nombre }}</td>
        <td>{{ user.Cargo }}</td>
        <td>{{ user.Correo }}</td>
        <td>
          <span
            [ngClass]="{
              active: user.Activo,
              inactive: !user.Activo
            }"
          >
            {{ user.Activo ? "Activo" : "Inactivo" }}
          </span>
        </td>
        <td>
          <div class="actions">
            <button
              (click)="changeActive(user)"
              class="btn-act change"
              title="Cambiar acceso al sistema"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-replace"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M3 3m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"
                />
                <path
                  d="M15 15m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"
                />
                <path d="M21 11v-3a2 2 0 0 0 -2 -2h-6l3 3m0 -6l-3 3" />
                <path d="M3 13v3a2 2 0 0 0 2 2h6l-3 -3m0 6l3 -3" />
              </svg>
            </button>

            <button class="btn-act edit" (click)="putTuEdit(user)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-edit"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"
                />
                <path
                  d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"
                />
                <path d="M16 5l3 3" />
              </svg>
            </button>

            <button class="btn-act delete" (click)="deleteUser(user.ID!)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-trash"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M4 7l16 0" />
                <path d="M10 11l0 6" />
                <path d="M14 11l0 6" />
                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
              </svg>
            </button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
  }@else if (loading_data === true) {
  <shared-loading-data></shared-loading-data>
  }@else if (loading_data === undefined) {
  <shared-empty-list></shared-empty-list>
  }
</section>
