<div class="container001">
  <h3>Acciones sobre el Registro</h3>
</div>
<hr />

<form aautocomplete="off" [formGroup]="myForm" (ngSubmit)="addUtensilios()">
  <div>
    <div>
      <h4>tipos de utensilios</h4>
      <select [(ngModel)]="selectValue" [ngModelOptions]="{ standalone: true }">
        @for( item of utensiliosTipos; track item ) {
        <option [value]="item.Id">{{ item.Nombre }}</option>
        }
      </select>
      <button>---</button>
    </div>
    <div>
      <h4>description de los utensilios</h4>
      <input
        type="text"
        placeholder="Descripcion"
        formControlName="Descripcion"
        required
      />
    </div>
  </div>
  <hr />
  <div>
    <h5>cantidad</h5>
    <!-- (change)="calcularImporte()" -->
    <input

      type="number"
      placeholder="Cantidad"
      formControlName="Cantidad"
      required
    />

    <h5>precio</h5>
    <input

      type="number"
      placeholder="Precio"
      formControlName="Precio"
      required
    />

    <h5>importe-{{Importe}}</h5>


    <hr />
    <button>descargar</button>
    <button>definir cuentas</button>
    <button
      [disabled]="myForm.invalid"
      type="submit"
      style="background-color: blue"
    >
      adicionar
    </button>
    <button>ver ingformr</button>
    <button>recargar</button>
    <button>no se q poner</button>
  </div>

  <div>
    <h4>registro de datos</h4>
  </div>
</form>
