<span>
  <h3>Acciones sobre el Registro</h3>
</span>

<div class="form">

  <form autocomplete="off" [formGroup]="myForm2" (ngSubmit)="addConcepto()">
    <input
      type="text" placeholder="Nombre del Concepto" formControlName="Nombre"
      [ngStyle]="myForm2.controls['Nombre'].errors && myForm2.controls['Nombre'].touched
                ?{'border': '1.5px solid #ec1818'}:{}"
      >
    <button
      [disabled]="myForm2.invalid"
      type="submit"
    >
      Adicionar
    </button>
  </form>



</div>

<div class="form">

  <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="addClasificacion()">
    <input
      type="text" placeholder="Nombre de la Clasificacion" formControlName="Nombre"
      [ngStyle]="myForm.controls['Nombre'].errors && myForm.controls['Nombre'].touched
                ?{'border': '1.5px solid #ec1818'}:{}"
      >
      <select [(ngModel)]="selectValue" [ngModelOptions]="{ standalone: true }">
        <option value="seleccionar">Selecciona el Concepto</option>
        @for( item of clasificasiones; track item ) {
        <option [value]="item.Id">{{ item.Nombre }}</option>
        }
      </select>
    <button
      [disabled]="myForm.invalid"
      type="submit"
    >
      Adicionar
    </button>
  </form>
<hr>
    <div class="container001">
      <button>Informe</button>
      <button >Recargar</button>
      <button>Ayuda</button>
    </div>

</div>


<h3>Registro de Datos </h3>
<h5>Mostrar la lista y para eliminar</h5>
