<div
  class="empty-list"
  style="
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 100%;
    margin-top: 50px;
  "
>
  <img
    width="300"
    height="300"
    priority="high"
    ngSrc="../../../assets/images/empty-list.webp"
    alt="Lista Vacía"
  />
  <span
    style="
      width: 500px;
      display: flex;
      align-items: center;
      flex-direction: column;
    "
  >
    <p style="text-align: center; font-size: 18px">
      Parece que no hay productos en el almacén. Para crear el primero pinche el
      botón
    </p>
  </span>
</div>
