<span class="form">
  <form action="" [formGroup]="salesForm">
    <span>
      <div>
        <label for="">Selecciona el Producto:</label>
        <input
          placeholder="Seleccione el Producto"
          name="IdOferta"
          formControlName="IdOferta"
          list="prod-list"
        />
        <datalist id="prod-list">
          @if (ofertasResults$ | async; as resultObj) { @for (oferta of
          resultObj; track $index) {
          <option [value]="oferta.Id">{{ oferta.Nombre }}</option>
          }}
        </datalist>
      </div>
      <div>
        <label for="">Cantidad del Productos:</label>
        <input
          characterDetect
          class="onlyNum"
          formControlName="Cantidad"
          name="Cantidad"
          placeholder="Cantidad del producto"
        />
      </div>

      <button class="save-form" (click)="onSubmit()">Guardar</button>
    </span>
  </form>
</span>

<section class="table-widget">
  <table>
    <caption>
      Comandas activas
    </caption>
    <thead>
      <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Importe</th>
      </tr>
    </thead>
    <tbody>
      @for (comanda of cdetalles; track $index) {
      <tr>
        <td>{{ comanda.IdOferta }}</td>
        <td>{{ comanda.Cantidad }}</td>
        <td>{{ comanda.ImporteDescuento }}</td>
        <td>{{ comanda.Importe }}</td>
      </tr>
      }
    </tbody>
  </table>
</section>
