@font-face {
  font-family: "OpenSans";
  src: url("./assets/fonts/OpenSans-VariableFont.ttf") format("truetype");
  font-display: swap;
}

* {
  font-family: "OpenSans";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafd;
}

input,
select {
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

input:hover,
input:focus,
select:hover select:focus {
  border: 1px solid #09f;
  outline: none;
}

input::placeholder {
  color: #9ea2a6;
  font-size: 14px;
}

h1 {
  color: #0f0542;
  font-size: x-large;
}

.form {
  width: 100%;
  display: flex;
  background-color: #d7e1fb;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
  gap: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  color: #6d6880;
  font-weight: 400;
}

.form button {
  color: #264fbb;
  background-color: white;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  font-size: 16px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

form span {
  display: flex;
  gap: 10px;
}

form span div {
  width: 100%;
}

label {
  font-size: 15px;
  opacity: .5;
}

form input {
  height: 30px;
  width: 100%;
}

.table-widget {
  margin-top: 30px;
  border: none;
  text-align: left;
  overflow-x: auto;
  height: 400px;
}

.table-widget table {
  width: 100%;
  border-collapse: collapse;
}

.table-widget caption {
  font-size: 1.12rem;
  font-weight: 700;
  text-align: left;
  color: #3c3c3c;
  margin: 0.5rem 0px;
}

.table-widget th {
  padding: 1.25rem 1rem;
  font-size: 0.875rem;
}

.table-widget tfoot {
  margin-top: 1rem;
}

.table-widget td {
  padding: 0.5rem 1rem;
  vertical-align: middle;
  color: #8999b0;
}

.table-widget tr:hover td,
.table-widget tr:hover button {
  color: black;
}

.table-widget td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.table-widget td:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.table-widget tbody tr {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.table-widget tbody tr:hover {
  background: #e2ecff;
}

.actions {
  display: flex;
  gap: 10px;
}

.btn-act {
  display: flex;
  cursor: pointer;
  align-items: center;
  color: #8999b0;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
}

.edit:hover {
  background-color: #219653;
  color: white !important;
}
.delete:hover {
  background-color: #f85653;
  color: white !important;
}
.info:hover {
  background-color: #1c7ead;
  color: white !important;
}

.btn-act.change:hover {
  background-color: #5fb0fb;
  color: white !important;
}

.active {
  background-color: #219653;
  border-radius: 10px;
  padding: 5px 15px;
  color: white;
}
.inactive {
  background-color: #f85653;
  border-radius: 10px;
  padding: 5px 15px;
  color: black;
}

select {
  height: 30px;
  width: 100%;
}
